@model DeleteDatabaseViewModel
@inject IViewLocalizer Localizer

<form id="delete-database-form" asp-controller="databases" asp-action="delete" asp-route-id="0" Method="post">
    <div class="modal fade" id="delete-database-modal" tabindex="-1" role="dialog" aria-labelledby="delete-database-modal-label">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 826px;" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h4 class="modal-title font-weight-semi-bold" id="delete-database-modal-label">@Localizer["Delete_database_dialog_title"]</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="$('#delete-database-modal').modal('hide')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="h5 font-weight-semi-bold">@Localizer["Database_label"]</div>
                    <div class="h5" id="delete-database-name"></div>
                    <p class="mt-4 font-italic">@Localizer["Delete_database_dialog_message"]</p>
                    @Html.TextBoxFor(model => model.Id, new { @type = "hidden", @id = "delete-hidden-input-database-id" })
                    @Html.TextBoxFor(model => model.Name, new { @type = "hidden", @id = "delete-hidden-input-database-name" })
                    <div>
                        @Html.LabelFor(model => model.ConfirmName)
                        @Html.TextBoxFor(model => model.ConfirmName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmName, null, new { @class = "text-danger small" })
                    </div>
                </div>
                <div class="modal-footer border-0">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="$('#delete-database-modal').modal('hide')">@Localizer["Cancel_button"]</button>
                    <button type="submit" class="btn btn-primary">@Localizer["Confirm_button"]</button>
                </div>
            </div>
        </div>
    </div>
</form>
