@inject IViewLocalizer Localizer
@inject AppConfiguration AppConfiguration

@{
    string? name = null;
    string? email = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
        email = Context.User?.FindFirst("email")?.Value;
    }
}

<style>
    .navbar-toggler-open {
        display: block;
    }

    .navbar-toggler-close {
        display: none;
    }

    .navbar-collapse.show ~ .navbar-toggler .navbar-toggler-open {
        display: none;
    }

    .navbar-collapse.show ~ .navbar-toggler .navbar-toggler-close {
        display: block;
    }
</style>

<header>
    <div class="navbar-container">
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark bottom_border" data-sticky="top">
            <div class="container">
                <a asp-controller="home" asp-action="index" class="sidebar-brand">
                    @AppConfiguration.ApplicationName
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <img class="icon navbar-toggler-open" src="/images/icons/menu.svg" />
                    <img class="icon navbar-toggler-close" src="/images/icons/cross.svg" />
                </button>
                <div class="collapse navbar-collapse justify-content-end">
                    <ul class="navbar-nav navbar-align">
                        <li class="nav-item">
                            <a class="nav-link d-inline-block" asp-controller="home" asp-action="index">
                                <span class="text-light ml-2">@Localizer["Home"]</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link d-inline-block" asp-controller="databases" asp-action="index">
                                <span class="text-light ml-2">@Localizer["Target_manager"]</span>
                            </a>
                        </li>
                    </ul>

                    <ul class="navbar-nav navbar-align">
                        @{
                            if (Context.User.IsAuthenticated())
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle d-inline-block" data-bs-toggle="dropdown">
                                        <img-gravatar email="@email" class="avatar img-fluid rounded me-1" /><span class="text-light ml-2">@name</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                                        <a class="nav-link d-inline-block" asp-controller="account" asp-action="signOff">
                                            <span class="text-light ml-2">@Localizer["Sign_out"]</span>
                                        </a>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link d-inline-block" asp-controller="account" asp-action="signIn">
                                        <span class="text-light ml-2">@Localizer["Sign_in"]</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-inline-block" asp-controller="account" asp-action="signUp">
                                        <span class="text-light ml-0">@Localizer["Sign_up"]</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>

<script>
        document.querySelector('.navbar-toggler').addEventListener('click', function() {
        const openIcon = this.querySelector('.navbar-toggler-open');
        const closeIcon = this.querySelector('.navbar-toggler-close');
        // Check which icon is currently visible
        if (openIcon.style.display === 'none') {
            openIcon.style.display = 'block';
            closeIcon.style.display = 'none';
        } else {
            openIcon.style.display = 'none';
            closeIcon.style.display = 'block';
        }
    });
</script>